html {
    height: 100%;
    background-color: $mainGray;
    &#quiz-0__image {
          background: url('../../assets/images/castle-small.jpg') no-repeat center center fixed;
          background-size: cover;
        }
    &#quiz-1__image {
          background: url('../../assets/images/graveyard-small.jpg') no-repeat center center fixed;
          background-size: cover;
        }

        &#quiz-2__image {
          background: url('../../assets/images/swings-small.jpg') no-repeat center center fixed;
          background-size: cover;
        }

        &#quiz-3__image {
          background: url('../../assets/images/trees-small.jpg') no-repeat center center fixed;
          background-size: cover;
        }

    @mixin atSmall {
        &#quiz-0__image {
          background: url('../../assets/images/castle-hi-dpi.jpg') no-repeat center center fixed;
          background-size: cover;
        }

        &#quiz-1__image {
          background: url('../../assets/images/graveyard-hi-dpi.jpg') no-repeat center center fixed;
          background-size: cover;
        }

        &#quiz-2__image {
          background: url('../../assets/images/swings-hi-dpi.jpg') no-repeat center center fixed;
          background-size: cover;
        }

        &#quiz-3__image {
          background: url('../../assets/images/trees-hi-dpi.jpg') no-repeat center center fixed;
          background-size: cover;
        }
    }
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    }

a {
  color: #000;
}
