<p class="main-section__title">{{name}}</p>
  <div class="questions">
    <div class="questions__intro">
      <p class="questions__intro-text">"{{quote}}"</p>
      <p class="questions__intro-source">{{quoteSource}}</a></p>
      <p class="questions__start-text">Click start to test your {{name}} knowledge!</p>
    </div>
  </div>