.main-section {
    background-color: rgba(255, 255, 255, .9);
    padding: .7rem;

    &__title {
        font-family: 'Cabin', sans-serif;
        text-align: center;
        font-size: 1.3rem;
        margin-bottom: 0;

        @mixin atSmall {
            font-size: 1.8rem;
        }
    }
}
