.questions {
    color: #000;
    font-size: 1.2em;
    font-weight: 900;
    margin: 0px auto;
    padding: 10px 20px;


    &__text {
      text-align: center;
      font-size: 1.5em;
    }

    &__question-count {
      font-size: 1.1rem;
      word-spacing: .3rem;
      border-bottom: .5px solid #000;
      margin-top: 0;

      @mixin atSmall {
        font-size: 1.5rem;
        word-spacing: .7rem;
      }
    }

    &__question-text {
      text-align: center;
      font-size: 1.3rem;

      @mixin atSmall {
        font-size: 1.5rem;
      }
    }

    &__question-choice {
      display: flex;
      align-items: baseline;

      &--label {
        font-size: 1em;
        margin: 0;
        font-weight: 400;
        padding-left: 10px;

        @mixin atSmall {
          font-size: 1.3rem;
        }
      }
    }

    &__score {
      font-size: 1rem;

      @mixin atSmall {
        font-size: 1.3rem;
      }

      &__intro {
        word-spacing: .25rem;
        border-bottom: .5px solid #000;
      }

      &--correct {
        padding-left: 10px;
        color: green;
        transform: scaleX(1.2em;);
      }

      &--incorrect {
        padding-left: 10px;
        color: red;
        transform: scaleX(1.2em;);
      }
    }
}

input[name="choices"] {
    flex: none;
}
